.text {
  color: red;
}
.border {
  width: 360px !important;
  max-width: 442px !important;
  position: fixed !important;
  bottom: 0 !important;
  border: 1px solid #000000 !important;
  box-shadow: 0px 0px 2px #9e9e9e !important;
  z-index: 999;
}
.divbotnav {
  display: flex;
  width: 100%;
  justify-content: center;
}
.selected {
  color: #e84c4f !important;
}
